.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-ul-item {
    margin-right: 10px;
}

.nav-link {
    color: #333333;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid transparent;
}

.nav-link:hover {
    border-color: black;
}

.nav-link.active {
    font-weight: bold;
    color: #6b6b6b;
    text-decoration: underline;
}

.main {
    font-family: Arial, sans-serif;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.content-title{
    flex:1;
    outline: #333333 solid 1px;
    text-align: center;
}

.content-item {
    flex: 1;
    outline: #333333 solid 1px;
    padding: 5px;
    margin: 1em;
}

.new-incomers-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.sales-info {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.product-container-products{
    width: 75%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.product-container-class{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 30%;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);

}

.product-container-class-name{
    font-weight: bold;
    color: black;
    font-size: 1.4em;
}

.product-container-class-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 3px;
}

.contacts-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.contact-block{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 50%;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.image-block{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 3px;
}

.contact-info{
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.product-table{
    margin-top: 1em;
}

.product-table-title{
    font-size: 2em;
    text-align: center;
    margin: 0.5em;
}

.product-table-grid{
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.product-table-even-row{
    display: flex;
    grid-column: 1/3;
    background-color: #cccccc;
}

.product-table-odd-row{
    display: flex;
    grid-column: 1/3;
    background-color: #f9f9f9;
}

.product-table-cell{
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
}

.footer {
    display: flex;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-copy-mark{
    color: #333333;
    text-decoration: none;
    padding: 5px;
}

.footer-contacts{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }
}

@media screen and (max-height: 767px) {
    .product-table {
        display: none;
    }
}