.page-header {
    color: #333;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.item-board {
    flex: 2;
}

.new-incomers-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.sales-info {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
}